#title {
    height: 50px;
    font-size: 24px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    background-color: rgb(0, 0, 0);
}

#width-field > Label {
    width: auto;
    min-width: 40px;
}

#height-field > Label {
    width: auto;
    min-width: 40px;
}

#texture-option > Label {
    min-width: 40px;
}

#alpha-input > #unity-text-input {
    max-width: 35px;
    min-width: 35px;
    margin-left: 5px;
}
